#rent-btn {
  margin-bottom: 10px;
}

#right-date {
  margin-left: 15px;
}

#price-label {
  font-weight: 600;
}

.item {
  margin: 24px 0;
}

form {
  margin: 6px;
}

#item-after-form {
  margin-top: -5px;
}
