mat-toolbar-row {
  padding: 0 2rem;
}

.spacer {
  margin-left: 15px;
  flex: 1 1 auto;
}

#profile-anchor {
  vertical-align: initial;
}

#user-greeting-span {
  vertical-align: super;
}

#logout-anchor {
  vertical-align: super;
}
